.card_list{
    display: flex;
    
    gap: 10px;
     overflow-x: scroll;
     width: 100%;
     

}
.card_list img{
    width: 240px;
    height:300px;
    border-radius: 4px;
    cursor: pointer;
}
.titleCard h2{
    margin: 20px 0px ;
   
   
   
  
}
.card_list p{
    position: absolute;
    bottom: 10px;
    text-decoration: none;
    color: white;
}
.card_list::-webkit-scrollbar{
    display: none;
}
.card{
    position: relative;
}
.card img {
  transition: transform 0.3s ease;
}
.card:hover img {
  transform: scale(1.05);
   filter: brightness(1.2);

}



.card {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .play-button {
  opacity: 1;
}
.play-button:hover{
  cursor: pointer;
}