.hero{
    position: relative;
    width: 100%;
}
.banner-img{
    width: 100%;
    height: 700px;
    mask-image: linear-gradient(to right, transparent, black 75%);
   -weblit-mask-image: linear-gradient(to right, transparent, black 75%);
}
.hero-btn img{
    width: 25px;
    align-items: center;
}
.hero-btn{
    position: absolute;
    top: 37%;
    left: 70%;
  align-items: center;
  display: flex;
  z-index: 1;
}
.hero-btn .btn,.btn-dark-btn{
    padding: 5px 20px 5px 5px;
    margin-right: 5px;
    align-items: center;
    border-radius: 4px;
    border: none;
    background: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.8;

    
}
.btn:hover,.btn-dark-btn:hover{
    opacity: 1;
}



@media screen and (max-width: 768px ){
  .hero {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .banner-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    mask-image: none;
    -webkit-mask-image: none;
    position: relative;
  }

  .hero-btn {
   display: none;
  }

  .more_cards {
    padding: 10px;
  }
}